/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Variables */
body{
    background-color: white;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    margin: 0;
}

input:focus{
    outline: none;
}

.banner {
    background: #009579;
}

.banner__content {
    padding: 16px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.banner__text {
    flex-grow: 1;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}

.banner__close {
    background: none;
    border: none;
    cursor: pointer;
}

#bg-video{
    top: -200px;
}

.banner__text,
.banner__close > span {
    color: #ffffff;
}