/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Variables */
body{
    background-color: white;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    height: 100%;
    overflow: hidden;
    margin: 0;
}
input:focus{
    outline: none;
}